<section id="aboutpage">
	<div class="container">
		<article id="aboutread">
			<p>Appliedline&trade; is the software development branch of AA Advanced Information Technology PLC&reg; (AAAIT), specialized
				in software development for goverment, corporate and individual organizations.
			</p>
			<p>AAAIT PLC has been in the business of IT hardware and service deliverables since 2006 before incubating its software development
				unit in 2009. In 2015, AAAIT PLC decided to let its software development unit run independently as Appliedline with a
				vision to be incorporated by 2020.
			</p>
			<p>Our core values are precision, synergy, professionalism and continuous learning. Our goal is to exceed the expectations
				of every client by offering outstanding customer service and great value that puts their bussiness at a competitive advantage
				as well as eliminate outlined bussiness problems.
			</p>
			<p>At Appliedline, we value our customers hence we invest a lot in hiring developers that have solid and vast experience
				in the software development industry. Our team have deep industry knowledge in technologies such as ASP.NET MVC, .NET
				Core, AngularJS &amp; Angular, NodeJS, cross-platform and hybrid app development (Xamarin and Cordova), UX and UI design, 
				RDBMS &amp; NoSql databases, Microsoft Azure and many more.
			</p>
			<p>In order to meet the demand of our ever growing clientele, Appliedline maintains a wide range of technology development programmes
				to keep its employees up-to-date with the latest tools and resources in the software development industry.
			</p>
			<p>Technical expertise along with vast and deep industry knowledge makes Appliedline the ideal
				choice for a software development company to provide custom software services and products to your company.
			</p>
		</article>
	</div>
</section>

<aside id="sidebar">
	<div class="black">
		<h3>Mission</h3>
		<p>Offer outstanding service and value that puts the client's bussiness at a competitive advantaage.</p>
	</div>
</aside>
<aside id="sidebar">
	<div class="black">
		<h3>Vision</h3>
		<p>Provide innovative products and services that drive government institutions in Africa, and consumed by 5 out of 10 individual worldwide.</p>
	</div>
</aside>



<section id="schedule">
	<div class="containertimer">
		<div class="timeline">
			<div class="container3 left">
				<div class="content">
					<h2>2017</h2>
					<p>
						<strong>CargoCanal</strong> - System designed to solve a gross logistics and excessive demurraage cost problem faced by Ethiopian
						Maritime Affairs Authority(EMAA).</p>
				</div>
			</div>
			<div class="container3 right">
				<div class="content">
					<h2>2017</h2>
					<p>
						<strong>eZembil</strong> - Allow us purchasing products or services over the Internet. Online shopping has grown in popularity
						over the years, mainly because people find it convenient and easy to bargain shop from the comfort of their home or
						office.
					</p>
				</div>
			</div>
			<div class="container3 left">
				<div class="content">
					<h2>2017</h2>
					<p>
						<strong>Seekerfit</strong> - Seekerfit is an online job portal accessible from your mobile phone or desktop. Seekerfit's goal
						is to allow applicants to apply for jobs quickl and easly regardless of their location.</p>
				</div>
			</div>
			<div class="container3 right">
				<div class="content">
					<h2>2017</h2>
					<p>
						<strong>Crystal Cheque</strong> - Crystal Chequed is a cheque writing software that allows you to print on your bank cheques.
						It's main goal is to eliminate problems of illegible texts and spelling errors that occus when writing by hand, which
						ultimately leads to cheque voids.</p>
				</div>
			</div>
			<div class="container3 left">
				<div class="content">
					<h2>2016</h2>
					<p>
						<strong>Qeek WMS</strong> - Qeek Ware House Management System is a reflection of appliedline's expertise, designed with one
						of the most powerful serverside technologies in the world, Microsoft ASP.NET MVC.</p>
				</div>
			</div>
			<div class="container3 right">
				<div class="content">
					<h2>2015</h2>
					<p>
						<strong>Cost Estimator</strong> - Cost Estimator is a Software designed to help importers estimate the cost of importing any
						specific type of cargo (by HS Code) including frieght and port charges as well as taxes from the country of origin
						untill its final destination.</p>
				</div>
			</div>
			<div class="container3 left">
				<div class="content">
					<h2>2014</h2>
					<p>
						<strong>GSS MAN</strong> - GSS MAN is a suit of modules designed to manage academic activities for schools. It's a fully functional
						software that is currently utillized by the Gibson School Systems and has been running since 2014.</p>
				</div>
			</div>
			<div class="container3 right">
				<div class="content">
					<h2>2009</h2>
					<p>
						<strong>Millennium Browser</strong> - Millennium Browser is one of Appliedline's oldest projects designed and relesed in the
						Ethiopian millennium when browsing the internet was in it's early stages in Ethiopia. The Browser was designed to help the Ethiopian
						natives surf the Internet by typing in their native language "geez".</p>
				</div>
			</div>
		</div>
	</div>
</section>

<section id="text-hidden">
	<div>
		<p>Appliedline is an IT company specialized in software development for goverment, corporate and individual organizations.
			We develop software for mobile devices, desktop devices, and cloud enviroments.</p>
		<p>Our core values are precision, synergy, professionalism and continuous learning. Our goal is to exceed the expectations
			of every client by offering outstanding customer service and great value that puts their bussiness at a competitive advantaage
			as well as eliminate outlined bussiness problems.</p>
	</div>


	<section id="responsive-texts">
		<div class="container_responsive">
			<div class="one">

				<h2>2017</h2>
				<p>
					<strong>CargoCanal</strong> - System designed to solve a gross logistics and excessive demurraage cost problem faced by Ethiopian
					Maritime Affairs Authority(EMAA).
				</p>
			</div>

			<div class="one">
				<h2>2017</h2>
				<p>
					<strong>eZembil</strong> - Allow us purchasing products or services over the Internet. Online shopping has grown in popularity
					over the years, mainly because people find it convenient and easy to bargain shop from the comfort of their home or
					office.
				</p>
			</div>

			<div class="one">
				<h2>2017</h2>
				<p>
					<strong>Seekerfit</strong> - Seekerfit is an online job portal accessible from your mobile phone or desktop. Seekerfit's goal
					is to allow applicants to apply for jobs quickl and easly regardless of their location.</p>
			</div>

			<div class="one">
				<h2>2017</h2>
				<p>
					<strong>Crystal Cheque</strong> - Crystal Chequed is a cheque writing software that allows you to print on your bank cheques.
					It's main goal is to eliminate problems of illegible texts and spelling errors that occus when writing by hand, which
					ultimately leads to cheque voids.</p>
			</div>

			<div class="one">
				<h2>2016</h2>
				<p>
					<strong>Qeek WMS</strong> - Qeek Ware House Management System is a reflection of appliedline's expertise, designed with one
					of the most powerful serverside technologies in the world, Microsoft ASP.NET MVC.</p>
			</div>

			<div class="one">
				<h2>2015</h2>
				<p>
					<strong>Cost Estimator</strong> - Cost Estimator is a Software designed to help importers estimate the cost of importing any
					specific type of cargo (by HS Code) including frieght and port charges as well as taxes from the country of origin untill
					its final destination.</p>
			</div>

			<div class="one">
				<h2>2014</h2>
				<p>
					<strong>GSS MAN</strong> - GSS MAN is a suit of modules designed to manage academic activities for schools. It's a fully functional
					software that is currently utillized by the Gibson School Systems and has been running since 2014.</p>
			</div>

			<div class="one">
				<h2>2009</h2>
				<p>
					<strong>Millennium Browser</strong> - Millennium Browser is one of Appliedline's oldest projects designed and relesed in the
					milennium when browsing the internet was in it's early stages in ethiopia. The Browser was designed to help the Ethiopian
					native use the computer by typing in their native language "geez".You could diable the geez typing at any time.</p>
			</div>
		</div>
	</section>
</section>