<header id="header">
    <div id="company">
        <!-- <img src="assets/graphics/a5.png" alt="Logo"> -->
        <h1 style="padding-top:10px; display:inline-block;">
            Applied<span style="color:#2e3191;">line</span>
        </h1>
    </div>

    <nav>
        <ul>
            <li>
                <a routerLink="/">HOME</a>
            </li>
            <li>
                <a routerLink="/contact">CONTACT</a>
            </li>
            <li>
                <a routerLink="/about">ABOUT</a>
            </li>

        </ul>
    </nav>

</header>