<!doctype html>
<footer id="footer">
  <ul class="faico clear">
    <li>
      <a title="twitter" target="_blank" rel="noopener" class="faicon-twitter" href="https://twitter.com/appliedline">
        <i class="fa fa-twitter"></i>
      </a>
    </li>
    <li>
      <a title="email" target="_parent" class="faicon-instagram" routerLink="/contact">
        <i class="fa fa-envelope"></i>
      </a>
    </li>
    <li>
      <a title="linkedin" target="_blank" rel="noopener" class="faicon-linkedin"
        href="https://www.linkedin.com/company/appliedline">
        <i class="fa fa-linkedin"></i>
      </a>
    </li>
    <li>
      <a title="instagram" target="_blank" rel="noopener" class="faicon-instagram"
        href="https://www.instagram.com/appliedline.aaait">
        <i class="fa fa-instagram"></i>
      </a>
    </li>
  </ul>
  <p>
    <small i18n="@@footerId">&copy; 2020 AAAIT &amp; Appliedline</small> &bull;
    <a (click)="openTC()" i18n><small>Terms of Service</small></a>  
  </p>
</footer>
