<!doctype html>
<header id="header">
  <div id="company">
    <h1 id="logo-title" (click)="routeHome()">
      Applied<span class="color-theme">line</span>
    </h1>
    <img id="img-logo" src="assets/global/images/appliedline_logo_64_transparent.png" (click)="routeHome()">
  </div>
  <nav>
    <ul>
      <li class="nav-right">
        <a routerLink="/about" i18n>About</a>
      </li>
      <li class="nav-right">
        <a routerLink="/events" i18n="@@af88c1e95a1d16d3cdbb7210981e0bfb6dc1d137">Events</a>
      </li>
      <li class="nav-left">
        <a routerLink="/contact" i18n>Contact</a>
      </li>
      <li (click)="openDialog()">
        <span class="fa fa-globe"></span>&nbsp;<a i18n class="locale">en-us</a>
      </li>
    </ul>
  </nav>
</header>
