<!doctype html>
<header id="header">
  <div id="company">
    <h1 id="logo-title" (click)="routeHome()">
      Applied<span class="color-theme">line</span>
    </h1>
    <img id="img-logo" src="../../assets/global/images/appliedline_logo_64_transparent.png" (click)="routeHome()">
  </div>
  <nav>
    <ul>
      <li class="nav-right">
        <a routerLink="/about" i18n>About</a>
      </li>
      <li class="nav-right">
        <a routerLink="/events" i18n>Event</a>
      </li>
      <li class="nav-left">
        <a routerLink="/contact" i18n>Contact</a>
      </li>
      <li>
        <span class="fa fa-globe"></span>&nbsp;<a href="#modal1" i18n>en-us</a>      
      </li>
    </ul>
  </nav>
</header>

<div class="overlay" id="modal1">
  <a class="cancel" href="#_"></a>
  <div class="overlay__content">
    <ul class="navbar-nav">
      <h2 i18n>Select Language</h2>
      <hr>
      <ng-container *ngFor="let lang of languages">
        <li class="list-body border">
          <a class="nav-item" (click)="gotoLocale(lang)">
            <span class="fas fa-globe"></span>
            &nbsp;{{lang.label}}
          </a>
        </li>
      </ng-container>
    </ul>
  </div>
</div>

